'atom-text-editor[data-grammar~="latex"]':
  'f5': 'latex-tools:compile'
  'ctrl-f5': 'latex-tools:interrupt'
  'f6': 'latex-tools:open-pdf'
  'f7': 'latex-tools:open-pdf-external'
  'f8': 'latex-tools:clean'

'atom-workspace':
  'f9': 'latex-tools:toggle-panel'
